<h1>Add an artist</h1>

<p>Add an artist here:</p>

<form action="/" method="post">
  <div class='form-group'>
    <label for='user-artist'>New artist:</label>
    <input id='user-artist' name='user-artist' class='form-control' type='text'>
  </div>
  <button type='submit' class='btn btn-success'>Submit</button>
</form>

<a href="/">Go back</a>
